
/* INPUTS */
input { 
    border-radius: 0;
}

/* BUTTONS */
.btn-dark {
    border-radius: 0;
    color: #fff;
    background-color: rgba(0,0,0,0.4);
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active,
#box-busca.btn-dark {
    color: #fff;
    background-color: rgba(0,0,0,0.7);
}
